@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family= Montserrat: wght @200 & display=swap');

:root{
    --cor_01: #3c9325;
    --cor_02: #d9bc79;
    --cor_03: #e3ae32;
    --cor_04: #fff;

    --font_01: 'Montserrat';
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--cor_02);
}

header{
    background-color: var(--cor_04);
    background-image: linear-gradient(to bottom , #fff , #eddebb);
}

header > h1 {
    color: var(--cor_01);
    font-size: 4em;
    text-align: center;
    font-family: var(--font_01);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
    padding: 0px;
    margin: 0px;
}

img{
    height: 400px;
    left: 400px;
}

h1{
    font-family: var(--font_01);
}

main{
    background-color: var(--cor_04);
    margin: 20px 10px;
    border-radius: 20px;
}
