@charset "ut-f8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#fantasma {
    display: none;
}

html , body {
    background-color: #dbdada;
}

header{
    background-color: green;
    width: 98vw;
    height: 10vh;
    margin-bottom: 50px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.486);
}

#contem {
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 20px;
}

#img_logo {
    width: 180px;
    height: 8vh;
    background-image: url("../midia/img/caixa.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#buscar {
    background-color: white;
    width: 50vw;
    height: 40px;
    border-radius: 25px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.492);
}

#campo_busca {
    margin-top: 8px;
    margin-left: 20px;
    font-size: 1.2em;
}

#carrinho {
    height: 8vh;
    margin-right: 30px;
    margin-left: 20vw;
}

#img_carrinho {
    width: 100px;
    height: 8vh;
    background-image: url("../midia/img/carrinho.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.vitrine {
    display: inline-block;
    width: 17vw;
    height: 40vh;
    margin-bottom: 100PX;
    margin-left: 50PX;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
    color: black;
}

.vitrine > h2{
    font-size: 1.5em;
    margin-top: 1vh;
}

.vitrine > a {
    display: flex;
    width: 16vw;
    margin-top: 1vh;
}

.vitrine > img {
    width: 16.6vw;
    height: 20vh;
    margin: auto;
    margin-top: 10px;
}

.vitrine > p {
    margin-top: 5px;
}

.istilo_resumo {
    width: 80%;
    height: 35px;
    overflow: hidden;
    white-space: normal;
    margin: auto;
}

.sifrao {
    display: inline-block;
    font-size: 1.1em;
    margin-left: 30px;
}

.istilo_preco {
    display: inline-block;
    font-size: 1.8em;
}

.botao_compra {
    background-color: rgb(168, 230, 76);
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 25px;
    font-size: 1.5em;
}
