@charset "ut-f8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#fantasma {
    display: none;
}

html , body {
    background-color: #dbdada;
}

header{
    background-color: #d96522;
    width: 98vw;
    height: 10vh;
    margin-bottom: 50px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.486);
}

#contem {
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 20px;
}

#img_logo {
    width: 8vw;
    height: 8vh;
    background-image: url("../midia/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#buscar {
    background-color: white;
    width: 50vw;
    height: 40px;
    border-radius: 25px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.492);
}

#campo_busca {
    margin-top: 8px;
    margin-left: 20px;
    font-size: 1.2em;
    cursor: pointer;
}

#carrinho {
    display: inline;
    height: 6vh;
    width: 4vw;
    margin-left: 20vw;
    cursor: pointer;
}

#configuracao {
    display: inline;
    height: 6vh;
    width: 4vw;
    margin-right: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.material-icons {
    font-size: 50px;
}

.vitrine {
    display: inline-block;
    width: 17vw;
    height: 40vh;
    margin-bottom: 100PX;
    margin-left: 50PX;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
    color: black;
    cursor: pointer;
}

.vitrine > h2{
    font-size: 1.5em;
    margin-top: 1vh;
}

.vitrine > a {
    display: flex;
    width: 16vw;
    margin-top: 1vh;
}

.vitrine > img {
    width: 16.6vw;
    height: 20vh;
    margin: auto;
    margin-top: 10px;
}

.vitrine > p {
    margin-top: 5px;
}

.istilo_resumo {
    width: 80%;
    height: 35px;
    overflow: hidden;
    white-space: normal;
    margin: auto;
}

.sifrao {
    display: inline-block;
    font-size: 1.1em;
    margin-left: 30px;
}

.istilo_preco {
    display: inline-block;
    font-size: 1.8em;
}

.botao_compra {
    background-color: #F2B90F;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 25px;
    font-size: 1.5em;
}

.autidor {
    display: flex;
    width: 99vw;
    height: 40vh;
    margin-bottom: 100px;
    background-color: #3199c5;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.498);
}

.autidor > img {
    height: 90%;
    margin-left: 4vw;
}

.copy {
    float: right;
    height: 80%;
    width: 40vw;
    margin-left: 20vw;
}

.copy > p {
    font-size: 2.5em;
    width: 90%;
    margin: auto;
    color: #e09916;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349);
}

.preco {
    margin: auto;    
    margin-top: 5vh;
}

.desconto {
    font-size: 2em;
    margin-left: 12vw;
    font-weight: lighter;
    color: #d72121;
}

.istilo_preco_oferta {
    display: inline-block;
    font-size: 3em;
}
